extends layout

include _includes/sharedHTMLfunctions

block content
  .row.page-header
    .col-lg-12
      h1= location.name
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(location.rating)
          p= location.address
            .panel.panel-primary
              .panel-heading
                h2.panel-title Opening hours
              .panel-body
                each openingTime in location.openingTimes
                  - if (openingTime.closed)
                    p= openingTime.days + ": closed"
                  - else
                    p= openingTime.days + ": " + openingTime.opening + " - " + openingTime.closing
            .panel.panel-primary
               .panel-heading
                 h2.panel-title Facilities
               .panel-body
                 each facility in location.facilities
                   span.label.label-warning
                     span.glyphicon.glyphicon-ok
                     | &nbsp;#{facility}
                   | &nbsp;
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src=location.mapSource)
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/location/review/new") Add review
              h2.panel-title Customers reviews
            .panel-body.review-container
              each review in reviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp= review.date
                    .col-xs-12
                      p= (review.review).replace(/\n/g, '<br>')
    .col-xs-12.col-md-3
      p.lead= sidebar.context
      p= sidebar.callToAction
